#content-container {
    display: grid;
    width: 100%;
    height: 100%;
    background: bisque;
    position: relative;
    z-index: 2;
    -webkit-box-shadow: rgba(35, 35, 50, 0.8) 0px 0px 11px -2px;
    -moz-box-shadow: rgba(35, 35, 50, 0.8) 0px 0px 11px -2px;
    box-shadow: rgba(35, 35, 50, 0.8) 0px 0px 11px -2px;
}

h1 {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    -webkit-animation: fadeInUp .6s .5s ease both;
    -moz-animation: fadeInUp .6s .5s ease both;
    -ms-animation: fadeInUp .6s .5s ease both;
    -o-animation: fadeInUp .6s .5s ease both;
    animation: fadeInUp .6s .5s ease both;
}