$red: #8a191b;
$redHover: hsla(359, 69%, 32%, 0.6);
$white: #fff;
$grey: #808080;
$mobile-either: "(max-width: 767px)";
$mobile-either2: "(max-width: 770px)";
$mobile-small: "(max-width: 321px)";
$non-mobile: "(min-width:768px)";
$tablet: "(min-width:768px) and (max-width:1024px)";
$desktop: "(min-width: 1025px)";
$desktop-xl: "(min-width:1900px)";